div{
    background-color: darkblue;
    width: 200px;
    height: 300px;
    margin-left: 200px;
    margin-top: 300px;

    /* margin - left
    margin - right
    margin- top
    margin - bottom */
}