@import url('https://fonts.googleapis.com/css2?family=Licorice&family=Playfair+Display:ital,wght@0,400;0,600;1,600;1,900&family=Pushster&family=Rock+3D&family=Shizuru&family=Vujahday+Script&display=swap');
h1{
    font-family: 'Shizuru', cursive;
    font-size: xx-large;
}
p{
    font-family: 'Rock 3D', cursive;
    font-size: x-large;
}